
<header>
  <h1>{{ message }}</h1>
</header>

<section id="homeCon">
<ul>
  <li>
    <a href="/getFilms" class="get-posts ageGroup">Adults</a>
  </li>
  <li>
    <a href="/getKidsFilms" class="get-one ageGroup">Kids</a>
  </li>
</ul>
<h3>{{ message2 }}</h3>
</section>
